#static-content
  #avatar
    a(href='http://nodejs.org')
      img(src='/images/node.png')
    br
    br
    a(href='http://expressjs.com')
      img(src='/images/express.png')
    br
    br
    a(href='http://mongodb.org')
      img(src='/images/mongo.png')
    br
    br
    a(href='http://jade-lang.com/')
      img(src='/images/jade.png')
  #description
    p So you are curious about this website?
    p I used the opportunity to create a GarageSale website to showcase a bunch of different technologies I have been trying recently.
    p The basic underlying framework is 
      a(href='http://nodejs.org') node.js
      | ,a server side framework to develop web application in javascripts. On top of node.js I used 
      a(href='http://expressjs.com') Express
      | , which provides some higher level functionalities; if you are familiar with the Ruby world, Express is similar to Sinatra, even if it is in its infancy.
    p The storage is provided by 
      a(href='http://mongodb.org') MongoDB
      | , which is integrated in node.js through the 
      a(href='https://github.com/christkv/node-mongodb-native') node-mongodb-native 
      | and
      a(href='https://github.com/guileen/node-mongoskin') mongoskin 
      | libraries.
    p As a template engine I used 
      a(href='http://jade-lang.com/') jade
      | , diabolically similar yet different to haml; at least different enough to confuse me.
    p Client side, of course still javascript with 
      a(href='http://jquery.org/') JQuery.
    p Finally, the design has been developed by 
      a(href='http://themeforest.net/user/elemis') Elemis.
    br 
  p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Interested in setting up your GarageSale? Contact me at 
    a(href='mailto:filippo@knokode.com') filippo@knokode.com
      