#adminarea
  h1= title

  form(action='/change', method='POST', class='validated')
    - if (error)
      p.error &nbsp;&nbsp;&nbsp;&nbsp;Uh... passwords don't match? 
    p Password
    p
      input(type='password', name='password', class='required') 
    p Confirm Password
    p
      input(type='password', name='confirm_password', class='required') 
            
    p
      br
      input(type='submit', value='Save')
    p
      a(href='/admin') Back to Admin      
     
