#static-content
  #avatar
    img(src='http://www.gravatar.com/avatar/ac176648474d843af2d8b7ec822b4c92.png')

  #description
    p Hi, my name's 
      a(href='http://diotalevi.com') Filippo, 
      | and since you probably came here through my email, or 
      a(href='http://facebook.com/filippo.diotalevi') Facebook, 
      or 
      a(href='http://twitter.com/fdiotalevi') Twitter account, 
      | you probably already know me. So I'll skip the introductions.
    p I currently live in Düsseldorf, but I'm moving to London in a few weeks, 
      b and I need to get rid of many things! Please help me!
    p So please go back to the                            
      a(href='/') main page                             
      | and see if there's anything of your interest. Please note that I don't ship things, so you need to be in the Düsseldorf area to pick up what you buy.
    p For any question, to see any of the objects listed or to reserve them, you can send me an email to 
      a(href='mailto:garagesale@knokode.com') garagesale@knokode.com
      | ; or if you know my personal email 
      | or phone number, go ahead and just call me!