!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(language='javascript', type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js')    
    script(language='javascript', type='text/javascript', src='http://ajax.microsoft.com/ajax/jquery.validate/1.5.5/jquery.validate.min.js')    
    script(language='javascript', type='text/javascript', src='/javascripts/gs.js')
        
  body!= body