!!!
html
  head
    meta(charshet='UTF-8')
    title= title
    link(rel='stylesheet', href='/style.css')
    link(rel='stylesheet', href='/style/css/colors/blue.css')   
    link(rel='stylesheet', href='/style/css/prettyPhoto.css')        
    link(rel='stylesheet', href='/stylesheets/admin.css')    
    /if IE 7
      link(rel="stylesheet",type="text/css",href="/style/css/ie7.css")
    /if IE 8
      link(rel="stylesheet",type="text/css",href="/style/css/ie8.css")
    /if IE 9
      link(rel="stylesheet",type="text/css",href="/style/css/ie9.css")
    link(rel="shortcut icon", type="image/x-icon", href="/style/images/favicon.png")
    script(language='javascript', type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js')    
    script(language='javascript', type='text/javascript', src='http://ajax.microsoft.com/ajax/jquery.validate/1.5.5/jquery.validate.min.js')    
    script(language='javascript', type='text/javascript', src='/style/js/ddsmoothmenu.js')
    script(language='javascript', type='text/javascript', src='/style/js/quicksand.js')        
    script(language='javascript', type='text/javascript', src='/style/js/portfolio.js')
    script(language='javascript', type='text/javascript', src='/style/js/jquery.prettyPhoto.js')
    script(language='javascript', type='text/javascript', src='/style/js/scripts.js')
    script(language='javascript', type='text/javascript', src='/javascripts/portfolio-start.js')
    script(language='javascript', type='text/javascript', src='/javascripts/gs.js')

  body

  #wrapper
    #left-side
      #logo
        a(href="/") 
          img(src='/images/logo.png')    

      #menu.menu-v
        ul
          li
            a(href="/") Home
          li
            a(href="/info") More Info
          li
            a(href="/about") About this site
          li
            a(href="/admin") Admin

      .social    
        ul
          li
            a(href="http://diotalevi.com")
              img(src="/style/images/icon-rss.png")
          li
            a(href="http://twitter.com/fdiotalevi")
              img(src="/style/images/icon-tw.png")        
          li
            a(href="http://www.linkedin.com/in/fdiotalevi")
              img(src="/images/linkedin.gif")
        #footer &copy; 2011 
          a(href='http://knokode.com') Knokode Ltd
    
    #container
      #content
        #portfolio

          !=body                              

    .clear