h1= title

p
  a(href='/admin/new') Create new item
  span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  a(href='/logout') Logout


h2 List of items 

ul
  - each item in items
    li
      a(href='/edit/'+item['_id'])= item['title']       
      span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      a(href='/delete/'+item['_id'], onclick='return confirm("Are you sure?")') Delete