h1= title

form(action='/login', method='POST', class='validated')
  p Username
  p
    input(type='text', name='username', class='required') 
  p Password
  p
    input(type='password', name='password', class='required') 
  p
    input(type='submit', value='Save')
     
