#drop
  img(src=item['image'])

#right-side
  h1= item['title']
  p= item['description']
  p 
    b= "Price asked: "+item['price']+" euro"
  
  .divider3
  .controls
    a(href="/", id="prev") Back to Home